.header {
  @include flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;

  &__prof, &__name {
    font-weight: bold;
    font-size: large;
    text-align: center;
  }



  &__img {
    border-radius: 50%;
    width: 200px;
  }

  &__about {
    max-width: 400px;
  }

  &__info {

  }
}

