@import 'mixins.scss';
@import 'header.scss';
@import 'skills.scss';
@import 'works.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


html, body {
  width: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
}