@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import 'mixins.scss';

html, body {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #44f;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  padding-bottom: 20px;

  @media (max-width: 80px) {
    font-size: 14px;
    max-width: 600px;
    * {
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
    }
  }

  @media (max-width: 400px) {
    // font-size: 12px;
    // max-width: 320px;
  }
}

.title {
  background-color: #222;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 6px;
  margin-top: 10px;
  width: 100%;
}

.container {
  @include flex(column, flex-start, flex-start);
}

.header {
  @include flex(row, space-between, flex-start);
  gap: 10px;
  &__container {}
  &__title {}
  &__name {
    font-weight: bold;
    margin-left: 10px;
  }
  &__img {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}

.skills {
  @include flex(row, space-between, flex-start);
  gap: 10px;
  &__container {
    flex: 1 1 30%;
  }
  >:nth-child(3) {
    flex: 1 1 40%;
  }
  &__title {}
  &__list {
    list-style: square;
    margin-left: 20px;
  }
}

.works {
  @include flex(column, flex-start, center);

  a {
    float: right;
  }

  &__container {
    width: 100%;
    padding-bottom: 20px;
    &>:nth-child(even) {
      background-color: #eef;
    }
  }
  &__title {}
  &__row {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    &>:nth-child(1) {
      width: 30%;
    }
    &>:nth-child(2) {
      width: 70%;
    }
  }

  &__list {
    list-style: square;
    margin-left: 30px;
  }

}
