@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin highlight {
  font-size: large;
  background-color: #222;
  color: #fff;
  padding: 4px 8px;
  margin: 10px 0px;
  min-width: 200px;
}