.works {
  @include flex;
}

.work-table {
  // table-layout: fixed;
  width: 80%;
  max-width: 800px;
  text-align: left;
  
  
  border-collapse: collapse;
  background-color: #ddf;

  th, td {
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #dfd;
  }

  thead {
    background: #aaf;
    color: #fff;
    border-top: 20px solid #fff;
  }

  ul {
    margin-left: 20px;
    list-style-type: square;
  }
}

