.works {
  @include flex;
}

.work-table {
  width: 100%;
  text-align: left;
  
  border-collapse: collapse;
  background-color: #fff;

  th, td {
    padding: 4px;
  }

  tr:nth-child(even) {
    background-color: #f8f8f8;
  }

  thead {
    background: #222;
    color: #fff;
    border-top: 20px solid #fff;
    font-size: 1.2rem;
  }

  ul {
    margin-left: 20px;
    list-style-type: square;
  }
}

